server:
  port: 8081

spring:
  application:
    name: producer-location-buses-red
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: admin
    password: admin123
    virtual-host: /

rabbitmq:
  exchange:
    location: location.exchange
  queue:
    location: location.queue
  routing-key:
    location: location.routing.key

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.busesred: DEBUG
    org.springframework.amqp: DEBUG
